<html>
    <head>
        <title>App Enquetes</title>
    </head>
    <body>
        <h1>Aplicação de Enquetes</h1>
        <h2>Enquete #{{ enquete.id}}</h2>
        <h2>{{ enquete.texto }}</h2>
        <p><i>{{ enquete.data_pub }}</i></p>
        {% if error %}
        <p> <b>Erro: {{ error }}</b></p>
        {% endif %}
        <p>Selecione a Alternativa desejada:</p>
        <form action = "{%url 'enquetes:votacao' enquete.id%}"
            method="post">
            {%csrf_token%}
        <ul>
        {% for alt in enquete.alternativa_set.all %}
        <li>
            <input type="radio" name ="escolha" value = "{{alt.id}}"
            id = "alt {{forloop.counter}}"/>
            <label for="alt{{ forloop.counter }}">
                {{alt.texto}}
            </label>
        </li>
        {% endfor %}
        </ul>
        <input type ="submit" value="votacao">
        </form>

        <hr>
        <a href = "{% url 'enquetes:index' %}
    </body>
</html>